body{
    background-color: rgb(145, 145, 145);
}

#header{
    height: 400px;
    width: 100%;
    margin-top: -50px;
    padding: 0px;
}

#flagHeader{
    height:400px;
    width: 100%;
}

.navbar{
    padding: 0px;
}

.nav-link{
    color: white !important;
    font-size: 16pt;
}

.dropdown-item{
    color: red !important;
}

.headerText{
    margin-top: -375px;
    color: white;
    text-align: center;
}

#profilePic{
    height: 225px;
    margin-top: 25px;
    border: 5px solid black;
    border-radius: 10px;
}

.info{
    height: 500px;
    width: 100%;
    padding: 20px 0px 0px 0px;
    /* border-top: 5px solid black; */
}

.row{
    padding: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

.col{
    border: 5px solid black;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

/* .col-5{
    border: 5px solid black;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
} */

#contForm{
    margin-top: 10px;
    padding-bottom: 20px;
}

.picture{
    margin-bottom: 10px;
}

#project{
    text-align: center;
}